


.view{
    padding-left: 6px;
    font-family: Calibri;
    font-size: 20px;
    font-weight: bold;
}

.board-test1{
    background-color: rgba(46, 163, 91, 0.918);
    width: 200px;
    height: 100px;
    border-radius: 3px;
    

}
.resentlly-all{
    flex-direction: row;
   padding-right: 480px;
   padding-left: 50px;
}
.all{
    
   flex-direction: column;
   // padding-right: 200px;
    //justify-content: center;
    //align-items: center;
    //vertical-align: 50px;
    
    padding-left: 100px;
}

.board-test2{
    background-color: rgb(243, 233, 233);
    width: 180px;
    height: 50px;
    border-radius: 3px;
    padding-left: 50px;
    padding-top: 60px;
    
    
    
}

.create-new {
    //padding-left: 200px;
    //padding-bottom: 1000px;

    
}



.image-person{
    width:20px;
    height: 20px;
}

.image-recentlly{
    width:25px;
    height: 25px;
    
    
}

.test{
    color:white;
    
}

.view1{
color:white;
}

.test1{
    color:black;
}

.create1{

//padding-right: 10px;
padd

    
}

.two-board{
    display: flex;
    padding-right: 130px;
}

.person{
    padding-right: 50px;
}