.title{
  padding-top: 60px;
  padding-left: 530px;
  font-size: 40px;
  font-weight: bolder;
  length: 50px;
  font-family: sans-serif;
}

.name{
  padding-left: 530px;
  padding-top: 20px;
  font-size: 25px;
  font-family: Calibri;
  flex-direction: column;
  width: 50px;
  font-weight: 400;
  line-height: 50.8px;
  text-align: center;

}

.text_name{
  background: hsla(120, 7%, 92%, 0.97);
  border-radius: 3px ;
  font-size: 20px;
  padding-left: 10px;
  width: 440px;
  height: 47px;
  border-color: whitesmoke;
  border-top-width: 0.05ch;
  border-left-width: 0.05ch;
  border-block-end-color: silver;
  border-block-end-width: 0.05ch;
  border-right-color: silver;
  border-right-width: 0.05ch;
}

.text_email{
  background: hsla(120, 7%, 92%, 0.97);
  border-radius: 3px ;
  font-size: 20px;
  padding-left: 10px;
  width: 440px;
  height: 47px;
  border-color: whitesmoke;
  border-top-width: 0.05ch;
  border-left-width: 0.05ch;
  border-block-end-color: silver;
  border-block-end-width: 0.05ch;
  border-right-color: silver;
  border-right-width: 0.05ch;
}

.text_pasword{
  background: hsla(120, 7%, 92%, 0.97);
  border-radius: 3px ;
  font-size: 20px;
  padding-left: 10px;
  width: 440px;
  height: 47px;
  border-color: whitesmoke;
  border-top-width: 0.05ch;
  border-left-width: 0.05ch;
  border-block-end-color: silver;
  border-block-end-width: 0.05ch;
  border-right-color: silver;
  border-right-width: 0.05ch;
}

.email{
  padding-left: 530px;
  padding-top: 20px;
  font-size: 25px;
  font-family: Calibri;
  flex-direction: column;
  width: 50px;
  line-height: 50.8px;
  border-color: whitesmoke;
  font-weight: 400;
}

.password {
  padding-left: 530px;
  padding-top: 20px;
  font-size: 25px;
  font-family: Calibri;
  flex-direction: column;
  width: 50px;
  line-height: 50.8px;
  border-color: whitesmoke;
  font-weight: 400;
}

.new{
  padding-left: 530px;
  padding-top: 20px;
  width:600px;
  align-items: center;
  font-size: 25px;

  font-family: Calibri;
  font-weight: bold;
}

.google{
  padding-left: 530px;
  padding-top: 20px;
  font-size: 20px ;
  text-align: center;
  text-decoration-color: silver;
  font-weight: 500;
  padding-right: 70px;
  width: 200px;
  font-family: Calibri ;
}

.link{
  padding-left: 530px;
  font-size: 20px;
}

.google_button{
  background-color: white;
  color: rgba(88, 86, 85, 0.81);
  width: 450px;
  height: 47px;
  padding-right: 70px;
  border-top-width: 0.2ch;
  border-left-width: 0.2ch;
  border-block-end-width: 0.2ch;
  border-right-width: 0.2ch;
  border-bottom-color: rgba(252, 255, 252, 0.25);
  border-right-color: rgba(252, 255, 252, 0.25);
  border-radius: 3px ;
 // padding-bottom: 60px;
  padding-top: 1px;
  padding-left: 90px;

}

.new_button{
 color: rgba(130, 127, 125, 0.81);
 width: 450px;
 height: 47px;
 border-color: white;
 border: 0;
 font-weight: bold;
  border-radius: 3px ;
}

a {

  color: #66c2ff;
}

.color_text{
  color: rgba(21, 30, 13, 0.61);
  padding-top: 15px;
}

.color_text1{
  color: rgba(21, 30, 13, 0.61);
  padding-top: 15px;
}

.color_text2{
  color: rgba(21, 30, 13, 0.61);
  padding-top: 15px;
}

.image{
padding-right: 20px;
}

.privacy{
  font-size: 17px;
  font-weight: 100;
  width: 450px;
  height: 47px;
  padding-left: 533px ;
  padding-bottom: 150px;
  padding-top: 30px;
  color: rgba(132, 132, 132, 0.87);
  font-family: Calibri;
}
