.title{
  padding-top: 80px;
  padding-left: 530px;
  font-size: 45px;
  font-weight: bold;
  length: 50px;
  font-family: Candara;
}

.name{
  padding-left: 530px;
  padding-top: 20px;
  font-size: 25px;
  font-family: Calibri;
  flex-direction: column;
  width: 50px;
  font-weight: 300;
  line-height: 50.8px;
  text-align: center; 
}

.text_name{
  background: hsla(120, 7%, 92%, 0.97);
  border-radius: 3px ;
  font-size: 20px;
  padding-left: 10px;
  width: 440px;
  height: 47px;
  border-color: whitesmoke;
  border-top-width: 0.05ch;
  border-left-width: 0.05ch;
  border-block-end-color: silver;
  border-block-end-width: 0.05ch;
  border-right-color: silver;
  border-right-width: 0.05ch;
}

.text_email{
  background: hsla(120, 7%, 92%, 0.97);
  border-radius: 3px ;
  font-size: 20px;
  padding-left: 10px;
  width: 440px;
  height: 47px;
  border-color: whitesmoke;
  border-top-width: 0.05ch;
  border-left-width: 0.05ch;
  border-block-end-color: silver;
  border-block-end-width: 0.05ch;
  border-right-color: silver;
  border-right-width: 0.05ch;
}

.text_pasword{
  background: hsla(120, 7%, 92%, 0.97);
  border-radius: 3px ;
  font-size: 20px;
  padding-left: 10px;
  width: 440px;
  height: 47px;
  border-color: whitesmoke;
  border-top-width: 0.05ch;
  border-left-width: 0.05ch;
  border-block-end-color: silver;
  border-block-end-width: 0.05ch;
  border-right-color: silver;
  border-right-width: 0.05ch;
}

.email{
  padding-left: 530px;
  padding-top: 20px;
  font-size: 25px;
  font-family: Calibri;
  flex-direction: column;
  width: 50px;
  line-height: 50.8px;
  border-color: whitesmoke;
}

.password {
  padding-left: 530px;
  padding-top: 20px;
  font-size: 25px;
  font-family: Calibri;
  flex-direction: column;
  width: 50px;
  line-height: 50.8px;
  border-color: whitesmoke;
}

.new{
  padding-left: 530px;
  padding-top: 20px;
  width:600px;
  align-items: center;
  font-size: 25px;

  font-family: Calibri;
  font-weight: 900;
}

.google{
  padding-left: 530px;
  padding-top: 20px;
  font-size: 20px;
  text-align: left;
  text-decoration-color: silver;
  font-weight: 400 ;
  padding-right: 70px;
  width: 200px;
  font-family: "Harlow Solid Italic";
}

.link{
  padding-left: 530px;
}

.google_button{
  background-color: white;
  width: 450px;
  height: 47px;
  padding-right: 70px;
  border-top-width: 0.2ch;
  border-left-width: 0.2ch;
  border-block-end-width: 0.2ch;
  border-right-width: 0.2ch;
  border-bottom-color: rgba(252, 255, 252, 0.25);
  border-right-color: rgba(252, 255, 252, 0.25);
}

.new_button{
 color: #a3a6a3;
 width: 450px;
 height: 47px;
 border-color: white;
 border: 0;
 font-weight: bolder;
}

a {

  color: #66c2ff;
}

.color_text{
  color: rgba(21, 30, 13, 0.61);
  padding-top: 15px;
}

.color_text1{
  color: rgba(21, 30, 13, 0.61);
  padding-top: 15px;
}

.color_text2{
  color: rgba(21, 30, 13, 0.61);
  padding-top: 15px;
}

.image{
  padding-right: 30px;
  padding-top: 10px;
}
