.cat {
    border-radius: 2px;
    width: 400px;
    height: 250px;
}

.cat-image {
    width: 400px;
    height: 125px;
    border-radius: 4px 4px 0 0;
    min-height: 100px;
}

.cat-image1{
    border-radius: 10px 10px 0 0;
    padding-left: 29px;
    padding-right: 30px;
}
.cardd {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);

    margin-bottom: 16px;

    width: 100%;
}

.container {
    display: flex;
}

.board-test4 {
    background-color: rgba(46, 163, 91, 0.918);
    width: 2px;
    height: 28px;
    border-radius: 3px;
}

.test {
    color: black;
    padding-left: 4px;
}

.third-view {
    padding-left: 150px;
}

.image-recentlly {
    padding-top: 15px;
}

.board-test3 {
    display: flex;
    background-color: white;
    padding-top: 10px;
}

.recent {
    padding-top: 30px;
}

.links {
    color: rgb(121, 120, 120);
    font-size: 13px;
}

.board_icon5 {
    background-color: rgba(129, 125, 125, 0.3);
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    padding: 5px;

    margin: 5px;
    text-decoration: none;
    width: 18px;
    height: 20px;
}

.create-board {
    display: flex;
}

.h1 {
    font-size: 20px;
    padding-left: 50px;
}

.padd {
    padding-left: 60px;
}

.postion-card3{
    width:50px;
    height: 100px;
}

.creat-board-name{
    //width:30px;
    background-color: #fafbfc;
    border: none;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    color: #172b4d;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 5px;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    padding: 8px 12px;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;

    width: 200px;
    margin-right: 80px;
}

.menu_member1 {
    display: block;
    background: rgb(187, 119, 119);
    border-radius: 7px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
        0 0 0 1px rgba(9, 30, 66, 0.08);
    //overflow: hidden;
    position: absolute;
    width: 304px;
    left: 500px;
    top: 50px;
    
   

    
}

.select{
   padding-top: 10px;
    border-radius: 3px;
}

.button-create{
    border-radius: 3px;
    width: 100px;
    height: 30px;
    
}