.board_header {
    background-color: #026aa7;
    display: flex;
    flex-direction: row;
    line-height: 27px;
    width: 3000px;
}

.board_icon {
    background-color: hsla(0, 0%, 100%, 0.3);
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    padding: 4px;
    vertical-align: middle;
    margin: 4px;
    text-decoration: none;
    position: relative;
}

.board_icon:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
}

.search_input {
    border: none;
    background: transparent;
}

.trello_link_span {
    color: hsla(0, 0%, 100%, 0.5);
    box-shadow: none;
    padding: 4px;
    vertical-align: middle;
    text-decoration: none;
}

.trello_link_span:hover {
    box-shadow: none;
    color: #fff;
}

.trello_text_span {
    //position: fixed;
    padding-left: 400px;
    left: 50%;
    margin-top: 4px;
    margin-bottom: 4px;
}

.board_header_right {
    display: inherit;
    //position:fixed;
    position: absolute;
    padding-left: 600px;
    right: 7px;
    vertical-align: middle;
}

.member_circle {
    border-radius: 100%;
    display: inline-flex;
    background-color: rgb(223, 225, 230);
    justify-content: center;
    vertical-align: middle;
    margin: 4px;
    box-shadow: none;
    color: black;
    padding: 4px;
    width: 28px;
    height: 28px;
}

.position-card {
    padding-left: 450px;
    padding-top: 50px;
}

.position-card2 {
    padding-left: 400px;
    padding-top: 50px;
}

.postion-board {
    margin-right: 400px;
    padding-top: 50px;
}

.text_names_box {
    background-color: #fafbfc;
    //border: none;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    color: #172b4d;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 3px;
    display: block;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 8px 12px;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;

    width: 280px;
    border-color: #026aa7;
}

.plus_position {
    padding-left: 130px;
}

.plus_position1 {
    padding-left: 140px;
}

.plus_position2 {
    padding-left: 125px;
}
.image-recentlly1 {
    width: 25px;
    height: 25px;
    //  padding-top: 50px;
}
.color_nav {
    color: #6b778c;
}
.color_nav1 {
    color: #6b778c;
    padding-bottom: 7px;
}

.color_nav2 {
    color: #6b778c;
    padding-bottom: 7px;
}
.color_nav3 {
    color: #6b778c;
    padding-bottom: 7px;
}

.menu_actions_board {
    display: block;
    position: absolute;
    color: #172b4d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    height: auto;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
        0 0 0 1px rgba(9, 30, 66, 0.08);
    overflow: hidden;
    width: 304px;
    z-index: 999999;
    left: 4px;
    top: 50px;
}

.nammess_form {
    width: 50px;
    padding-left: 10px;
    padding-top: 5px;
}

.star_position {
    padding-left: 5px;
}
